@use '../abstracts/variables' as *;

.main-footer {
    background-color: $color-grey-dark-3;
    color: $color-white;
    padding: 2rem $spacing-unit;
    margin-top: 4rem;
}

.footer-content {
    max-width: $container-max-width;
    margin: 0 auto;
    text-align: center;

    a {
        color: $color-white;
        text-decoration: none;
        margin: 0 0.5rem;

        &:hover {
            text-decoration: underline;
        }
    }
}