@use '../abstracts/variables' as v;

.skills-filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: v.$spacing-unit;
    margin-bottom: v.$spacing-unit * 2.5;
    padding: v.$spacing-unit * 1.5;
    background-color: v.$color-white;
    border: 1px solid v.$color-border;
    border-radius: v.$border-radius;
    
    .form-group {
        flex: 1 1 250px;
        margin-bottom: 0;
    }
}